<div class="example-container">

  <form [formGroup]="partnerForm" (ngSubmit)="submitHandler()">
      <mat-form-field floatLabel="never" hideRequiredMarker>
          <input matInput placeholder="Name" formControlName="name" required>
          <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="never" hideRequiredMarker>
        <input matInput placeholder="Surname" formControlName="surname" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field floatLabel="never" hideRequiredMarker>
          <input matInput placeholder="Participation" formControlName="participation" required>
          <mat-error *ngIf="percentage.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="partnerForm.invalid">
        SEND
      </button>
  </form>

</div>
