<div>
  <div>
    <app-partner-form>
    </app-partner-form>
  </div>

  <div>
    <h1 style="text-align: center; vertical-align: middle">DATA</h1>
    <p style="text-align: center; vertical-align: middle">Lorem Ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <mat-grid-list cols="2" >
    <mat-grid-tile>

      <app-partners-table>
      </app-partners-table>

    </mat-grid-tile>
    <mat-grid-tile>

      <app-partner-chart>
      </app-partner-chart>

    </mat-grid-tile>
  </mat-grid-list>


  <app-empty-database>
  </app-empty-database>


</div>
